@font-face {
   font-family: michigan;
   src: url('media/michigan 3.ttf')
}

body {
   display: flex;
   flex-direction: column;
   margin: auto;
}

.hero {
   max-width: 90%;
   max-height: 50vh;
   margin: auto;
}

header {
   padding: 20px;
   color: #FFCB05;
   background-color: #00274C;
}
 h1{
   font-family: michigan;
 }

 main{
   margin: auto;
   display: flex;
   flex-direction: column;
 }

 .about{
   margin: auto;
 }
 
 h2{
   margin: auto;
   font-family: michigan;
   text-align: center;
 }

 .about-p{
   text-align: center;
 }

 h4{
   font-family: michigan;
 }

 .organization{
   margin: auto;
   padding: 20px;
   display: flex;
 }

 .claim-h1{
   margin: auto;
 }

 .organization>* {
   margin: auto;
 }

 .who-section{
   margin: auto;
 }